<link rel="stylesheet" type="text/css" href="{{style_sheet}}">
<section class="header" >
    <form action="/añadir_cancion" method="POST">
      <input type="text" placeholder="Autor" name="autor"/>
      <input type="text" placeholder="Nombre Cancion" name="cancion"/>
      <input type="text" placeholder="Nombre del album" name="album"/>
      <button type="submit" class="button-dark" name="añadir_cancion">Guardar</button>
    </form>
    <form action="/buscar_cancion" method="POST">
      <input type="text" placeholder="Nombre Cancion" name="cancion_buscar"/>
      <button type="submit" class="button-dark" name="buscar_cancion">Buscar Cancion</button>
    </form>
    
    
  </section>
  <section>
    <div class="content__middle">
      <!-- /////////////////////// BUSCAR CANCION -->
      {%if r == true%}
      <div class="overview__albums">
                
        <div class="overview__albums__head">
        
          <span class="section-title">Cancion</span>
         
        
        </div>
        
        <div class="album">
          
          <div class="album__tracks">
          
            <div class="tracks">
              
              <div class="tracks__heading">
              
                <div class="tracks__heading__number">#</div>
                
                <div class="tracks__heading__title">Song</div>
              </div>
              <div class="track">
                <div class="track__number">1</div>
                <div class="track__title">{{find.nombre}}</div>
                <div class="track__explicit">
                  <form id="myFormFind" action="" method="POST">
                    <button class="botonplay" id="play {{find.nombre}}" name ="play_nueva" value="{{find.nombre}}" onclick ="document.getElementById('myFormFind').action = '/play_nueva'; document.getElementById('myFormFind').submit();">PLAY</button>
                    <input type="hidden" name="play_nueva" value="{{find.nombre}}">
                    <button id="cola {{find.nombre}}" name="agregar" value="{{find.nombre}}" onclick ="document.getElementById('myFormFind').action = '/agregar'; document.getElementById('myFormFind').submit(); ">AGREGAR A LA COLA</button>
                    <input type="hidden" name="agregar" value="{{find.nombre}}">
                    <button class="botoneliminar" id="eliminar {{find.nombre}}" name ="delete_list" value="{{find.nombre}}" onclick ="document.getElementById('myFormFind').action = '/delete_list';document.getElementById('myFormFind').submit();">ELIMINAR</button>
                    <input type="hidden" name="delete_list" value="{{find.nombre}}">
                  </form>

                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        
      </div>
      {%endif%}
      <!-- /////////////////////// BUSCAR CANCION -->
        <div class="artist__info__actions">
                <br>
                <br>
                <form action="/play" method="POST">
                  <button type="submit" class="button-dark" name="play">
                    Play
                  </button>
                </form>    
        </div>
              
        
        <div class="artist__content">
        
          <div class="tab-content">
        
            <!-- Overview -->
            <div role="tabpanel" class="tab-pane active" id="artist-overview">
              
              <div class="overview">
              
                <div class="overview__artist">
                  <!-- Playlist-->
                  <div class="section-title">Playlist</div>
  
                  <div class="tracks">
                  {%for cancion in listadoCanciones %}
                    <div class="track">
                      <div class="track__number">{{loop.index}}</div>
                      <div class="track__title">{{cancion.nombre}}</div>
                      <div class="track__explicit">

                        <form id="myForm{{loop.index}}" action="" method="POST">
                          
                          <button class="botonplay" id="play {{cancion.nombre}}" name ="play_nueva" value="{{cancion.nombre}}" onclick ="document.getElementById('myForm{{loop.index}}').action = '/play_nueva'; document.getElementById('myForm{{loop.index}}').submit();">PLAY</button>
                          <input type="hidden" name="play_nueva" value="{{cancion.nombre}}">
                          <button id="cola {{cancion.nombre}}" name="agregar" value="{{cancion.nombre}}" onclick ="document.getElementById('myForm{{loop.index}}').action = '/agregar'; document.getElementById('myForm{{loop.index}}').submit(); ">AGREGAR A LA COLA</button>
                          <input type="hidden" name="agregar" value="{{cancion.nombre}}">
                          <button class="botoneliminar" id="eliminar {{cancion.nombre}}" name ="delete_list" value="{{cancion.nombre}}" onclick ="document.getElementById('myForm{{loop.index}}').action = '/delete_list';document.getElementById('myForm{{loop.index}}').submit();">ELIMINAR</button>
                          <input type="hidden" name="delete_list" value="{{cancion.nombre}}">
                        </form>
                        
                      </div>
                    </div>
                    
                    {% endfor %}
                    
                  </div>
               
                </div>
                <!--COLA DE REPRODUCCIÓN-->
                <div class="overview__albums">
                
                  <div class="overview__albums__head">
                  
                    <span class="section-title">Cola de reproducción</span>
                   
                  
                  </div>
                  
                  <div class="album">
                    
                    <div class="album__tracks">
                    
                      <div class="tracks">
                        
                        <div class="tracks__heading">
                        
                          <div class="tracks__heading__number">#</div>
                          
                          <div class="tracks__heading__title">Song</div>
                        </div>
                            {%for cancion in colaLista %}
                        <div class="track">
                          <div class="track__number">{{loop.index}}</div>
                          <div class="track__title">{{cancion.nombre}}</div>
                          <div class="track__explicit">
                            <form action="/delete_queue" method="POST" >
                              <button type="submit" id="eliminar cola {{cancion.nombre}}" name ="delete_queue" value="{{cancion.nombre}}">ELIMINAR DE LA COLA</button>
                            </form>
                          </div>
                        </div>
                        {% endfor %}
  
  
                      </div>
                      
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
            
            </div>  
        </div>
        
      </div>
      
    </div>
    
  
  </section>
  
  <section class="header">
      <div class="content1">
      <form action="" method="POST" class="f" id="form1">
        <button class="botonPlay_Previous" style="font-size:25px;" name="Play_Previous" onclick ="document.getElementById('form1').action = '/Play_Previous'; document.getElementById('form1').submit();">&#x23EE;</button>
            <p style="color:#282828;">  --   </p>
            <button class="botonplay1" style="font-size:25px;" name="play" onclick ="document.getElementById('form1').action = '/play'; document.getElementById('form1').submit();">&#x23F5;</button>
            <p style="color:#282828;">  --   </p>
            <button class="botonPlay_Next" style="font-size:25px;"  name="Play_Next" onclick ="document.getElementById('form1').action = '/Play_Next'; document.getElementById('form1').submit();">&#x23ED;</button>
      </form>
          <p style="color:#282828;">  --------   </p>
          <p style="color:aliceblue"> {{nombreCancion}} </p>      
    </div>
    
    
  </section> 
  <section >
    <div class="content__right">
      <img src="{{foto}}"style="width:450px;height:450px;">
    </div>
    <div class="content1">
      <form action="" method="POST" class="f" id="form1">
        <button class="botonPlay_Previous" style="font-size:25px;" name="Play_Previous" onclick ="document.getElementById('form1').action = '/Play_Previous'; document.getElementById('form1').submit();">&#x23EE;</button>
            <p style="color:#282828;">  --   </p>
            <button class="botonplay1" style="font-size:25px;" name="play" onclick ="document.getElementById('form1').action = '/play'; document.getElementById('form1').submit();">&#x23F5;</button>
            <p style="color:#282828;">  --   </p>
            <button class="botonPlay_Next" style="font-size:25px;"  name="Play_Next" onclick ="document.getElementById('form1').action = '/Play_Next'; document.getElementById('form1').submit();">&#x23ED;</button>
      </form>
    </div>
  </section>
  
