<link rel="stylesheet" type="text/css" href="{{style_sheet}}">
<section class="header">
    <div class="page-flows">
    
      <span class="flow">
        <i class="ion-chevron-left"></i>
      </span>
      
      <span class="flow">
        <i class="ion-chevron-right disabled"></i>
      </span>
      
    </div>
    
    <div class="search">
    
      <input type="text" placeholder="Search" />
      
    </div>
    
    <div class="user">
    
      <div class="user__notifications">
      
        <i class="ion-android-notifications"></i>
        
      </div>
      
      <div class="user__inbox">
      
        <i class="ion-archive"></i>
        
      </div>
     
      
    </div>
    
  </section>
    <div class="content__middle">
      <div class="artist__info__actions">
        <button class="button-dark">
          <i class="ion-ios-play"></i>
          Play
        </button>
      </div>
        
        <div class="artist__content">
        
          <div class="tab-content">
        
            <!-- Overview -->
            <div role="tabpanel" class="tab-pane active" id="artist-overview">
              
              <div class="overview">
              
                <div class="overview__artist">
                  <!-- Playlist-->
                  <div class="section-title">Playlist</div>
  
                  <div class="tracks">
  
                    <div class="track">
  
                      <div class="track__art">
  
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out" />
  
                      </div>
  
                      <div class="track__number">1</div>
  
                      <div class="track__added">
  
                        <i class="ion-checkmark-round added"></i>
  
                      </div>
  
                      <div class="track__title">Me, Myself & I</div>
  
                      <div class="track__explicit">
  
                        <span class="label">Explicit</span>
  
                      </div>
  
                      <div class="track__plays">147,544,165</div>
  
                    </div>
  
                    <div class="track">
  
                      <div class="track__art">
  
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen" />
  
                      </div>
  
                      <div class="track__number">2</div>
  
                      <div class="track__added">
  
                        <i class="ion-plus not-added"></i>
  
                      </div>
  
                      <div class="track__title">I Mean It</div>
  
                      <div class="track__explicit">
  
                        <span class="label">Explicit</span>
  
                      </div>
  
                      <div class="track__plays">74,568,782</div>
  
                    </div>
  
                    <div class="track">
  
                      <div class="track__art">
  
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out" />
  
                      </div>
  
                      <div class="track__number">3</div>
  
                      <div class="track__added">
  
                        <i class="ion-checkmark-round added"></i>
  
                      </div>
  
                      <div class="track__title">Calm Down</div>
  
                      <div class="track__explicit">
  
                        <span class="label">Explicit</span>
  
                      </div>
  
                      <div class="track__plays">13,737,506</div>
  
                    </div>
  
                    <div class="track">
  
                      <div class="track__art">
  
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out" />
  
                      </div>
  
                      <div class="track__number">4</div>
  
                      <div class="track__added">
  
                        <i class="ion-plus not-added"></i>
  
                      </div>
  
                      <div class="track__title">Some Kind Of Drug</div>
  
                      <div class="track__explicit">
  
                        <span class="label">Explicit</span>
  
                      </div>
  
                      <div class="track__plays">12,234,881</div>
  
                    </div>
  
                    <div class="track">
  
                      <div class="track__art">
  
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen" />
  
                      </div>
  
                      <div class="track__number">5</div>
  
                      <div class="track__added">
  
                        <i class="ion-checkmark-round added"></i>
  
                      </div>
  
                      <div class="track__title">Let's Get Lost</div>
  
                      <div class="track__explicit">
  
                        <span class="label">Explicit</span>
  
                      </div>
  
                      <div class="track__plays">40,882,954</div>
  
                    </div>
  
                  </div>
               
                </div>
              
  
                <div class="overview__albums">
                
                  <div class="overview__albums__head">
                  
                    <span class="section-title">Cola de reprodución</span>
                   
                  
                  </div>
                  
                  <div class="album">
                    
                    <div class="album__tracks">
                    
                      <div class="tracks">
                        
                        <div class="tracks__heading">
                        
                          <div class="tracks__heading__number">#</div>
                          
                          <div class="tracks__heading__title">Song</div>
                          
                          <!--tiempo--><div class="tracks__heading__length">
                          
                            <i class="ion-ios-stopwatch-outline"></i>
                            
                          </div>
                          
                          <!--Like--><div class="tracks__heading__popularity">
                          
                            <i class="ion-thumbsup"></i>
                            
                          </div>
                          
                        </div>
  
                        <div class="track">
  
                          <div class="track__number">1</div>
  
                          <div class="track__added">
  
                            <i class="ion-checkmark-round added"></i>
  
                          </div>
  
                          <div class="track__title">Intro</div>
  
                          <div class="track__explicit">
  
                            <span class="label">Explicit</span>
  
                          </div>
                          
                          <div class="track__length">1:11</div>
                          
                          <div class="track__popularity">
                          
                            <i class="ion-arrow-graph-up-right"></i>
                            
                          </div>
  
                        </div>
                        
                        <div class="track">
  
                          <div class="track__number">17</div>
  
                          <div class="track__added">
  
                            <i class="ion-checkmark-round added"></i>
  
                          </div>
  
                          <div class="track__title featured">
                          
                            <span class="title">Nothing to Me</span>
                            <span class="feature">Keyshia Cole</span>
                            <span class="feature">E-40</span>
                            
                          </div>
                        </div>
  
                      </div>
                      
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
            
            </div>  
        </div>
        
      </div>
      
    </div>
  
  </section>
  
  <section class="current-track">
  
    <div class="current-track__actions">
    
      <a class="ion-ios-skipbackward"></a>
      
      <a class="ion-ios-play play"></a>
      
      <a class="ion-ios-skipforward"></a>
      
    </div>
    
    <div class="current-track__progress">
    
      <div class="current-track__progress__start">0:01</div>
      
      <div class="current-track__progress__bar">
        
        <div id="song-progress"></div>
        
      </div>
      
      <div class="current-track__progress__finish">3:07</div>
      
    </div>
    
    <div class="current-track__options">
    
      <a href="#" class="lyrics">Lyrics</a>
      
      <span class="controls">
      
        <a href="#" class="control">
          <i class="ion-navicon"></i>
        </a>
        
        <a href="#" class="control">
          <i class="ion-shuffle"></i>
        </a>
        
        <a href="#" class="control">
          <i class="fa fa-refresh"></i>
        </a>
        
        <a href="#" class="control devices">
          <i class="ion-iphone"></i>
          <span>Devices Available</span>
        </a>
        
        <a href="#" class="control volume">
          
          <i class="ion-volume-high"></i>
        
          <div id="song-volume"></div>
          
        </a>
        
      </span>
      
    </div>
    
  </section>