<link rel="stylesheet" type="text/css" href="{{style_sheet}}">
<section class="header">
    <div >
    
      <input type="text" placeholder="Autor" />
      
    </div>
    <div>
    
      <input type="text" placeholder="Nombre Cancion" />
      
    </div>
    <div>
      <button class="button-dark">
              <i class="ion-ios-play"></i>
              Guardar
          </button>
    </div> 
    
    
  </section>
    <div class="content__middle">
        <div class="artist__info__actions">
                <br>
                <br>
                <button class="button-dark">
                  <i class="ion-ios-play"></i>
                  Play
                </button>
              </div>
      
        
        <div class="artist__content">
        
          <div class="tab-content">
        
            <!-- Overview -->
            <div role="tabpanel" class="tab-pane active" id="artist-overview">
              
              <div class="overview">
              
                <div class="overview__artist">
                  <!-- Playlist-->
                  <div class="section-title">Playlist</div>
  
                  <div class="tracks">
  
                    <div class="track">
  
                      <div class="track__number">1</div>
  
                      <div class="track__title">Me, Myself & I</div>
  
                      <div class="track__explicit">
  
                        <button >
                          <i class="ion-ios-play"></i>
                          Play
                        </button>
                        <button>
                          <i class="ion-ios-play"></i>
                          Agregar a la cola
                        </button>
                        <button >
                          <i class="ion-ios-play"></i>
                          Eliminar
                        </button>
  
                      </div>
  
                    </div>
  
                  </div>
               
                </div>
                <!--COLA DE REPRODUCCIÓN-->
                <div class="overview__albums">
                
                  <div class="overview__albums__head">
                  
                    <span class="section-title">Cola de reproducción</span>
                   
                  
                  </div>
                  
                  <div class="album">
                    
                    <div class="album__tracks">
                    
                      <div class="tracks">
                        
                        <div class="tracks__heading">
                        
                          <div class="tracks__heading__number">#</div>
                          
                          <div class="tracks__heading__title">Song</div>
                        </div>
                        <div class="track">
  
                          <div class="track__number">1</div>
  
                          <div class="track__added">
  
                            <i class="ion-checkmark-round added"></i>
  
                          </div>
  
                          <div class="track__title">Intro</div>
  
                          <div class="track__explicit">
  
                            <button >
                              <i class="ion-ios-play"></i>
                              #
                            </button>
                            <button>
                              <i class="ion-ios-play"></i>
                              #
                            </button>
                            <button >
                              <i class="ion-ios-play"></i>
                              #
                            </button>
      
                          </div>
  
                        </div>
  
                      </div>
                      
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
            
            </div>  
        </div>
        
      </div>
      
    </div>
  
  </section>
  
  <section >
  
    <div class="current-track">
          <button style="font-size:25px;">&#x23EE;</button>
          <p style="color:#282828">  --   </p>
          <button style="font-size:25px;" >&#x23F5;</button>
          <p style="color:#282828">  --   </p>
          <button style="font-size:25px;">&#x23ED;</button>
          <p style="color:#282828">  --------   </p>
          <a > nombre de la cancion </a>      
    </div>
    
  </section> 
